openapi: 3.1.0
info:
  title: Context API
  description: API for retrieving context data from any website
  version: 1.0.0
servers:
  - url: https://api.context.dev/v1
tags:
  - name: Monitors
    description: >-
      Monitor pages, sitemaps, and extracted website data for exact or semantic
      changes. Webhook payloads are documented by the
      MonitorsChangeDetectedWebhookPayload and
      MonitorsRunCompletedWebhookPayload schemas.
components:
  parameters:
    RequestTags:
      name: tags
      in: query
      required: false
      style: form
      explode: false
      schema:
        $ref: '#/components/schemas/RequestTags'
      description: >-
        Optional comma-separated caller-defined tags for tracking this request.
        Tags are recorded on the request's usage log and can be used to filter
        usage on the dashboard usage page. Up to 20 tags, each 1-50 characters.
      example: production,team-alpha
  headers:
    RateLimitLimit:
      description: >-
        Maximum requests allowed in the current fixed one-minute window.
        Returned when the authenticated API key has a per-minute rate limit.
      schema:
        type: integer
        minimum: 1
    RateLimitRemaining:
      description: >-
        Requests remaining in the current fixed one-minute window. Returned when
        the authenticated API key has a per-minute rate limit.
      schema:
        type: integer
        minimum: 0
    RateLimitReset:
      description: >-
        Unix timestamp in seconds when the current rate-limit window resets.
        Returned when the authenticated API key has a per-minute rate limit.
      schema:
        type: integer
  responses:
    RateLimited:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
        Retry-After:
          description: Seconds until the per-minute rate limit window resets
          schema:
            type: integer
            minimum: 1
            maximum: 60
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message
              error_code:
                type: string
                enum:
                  - RATE_LIMITED
                description: Error code indicating the rate limit was exceeded
              key_metadata:
                $ref: '#/components/schemas/KeyMetadata'
            required:
              - message
              - error_code
    MonitorsBadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
    MonitorsUnauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
    MonitorsNotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
    MonitorsLimitExceeded:
      description: >-
        Monitor limit for the account reached (error_code
        MONITOR_LIMIT_EXCEEDED)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    RequestTags:
      type: array
      items:
        type: string
        minLength: 1
        maxLength: 50
      maxItems: 20
      description: >-
        Optional caller-defined tags for tracking this request. Tags are
        recorded on the request's usage log and can be used to filter usage on
        the dashboard usage page. Up to 20 tags, each 1-50 characters.
      example:
        - production
        - team-alpha
    HeaderMap:
      type: object
      additionalProperties:
        type: string
        maxLength: 8192
        pattern: ^[^\r\n]*$
    BrowserCountryCode:
      type: string
      enum:
        - ad
        - ae
        - af
        - ag
        - ai
        - al
        - am
        - ao
        - ar
        - at
        - au
        - aw
        - az
        - ba
        - bb
        - bd
        - be
        - bf
        - bg
        - bh
        - bi
        - bj
        - bm
        - bn
        - bo
        - bq
        - br
        - bs
        - bw
        - by
        - bz
        - ca
        - cd
        - cf
        - cg
        - ch
        - ci
        - cl
        - cm
        - cn
        - co
        - cr
        - cv
        - cw
        - cy
        - cz
        - de
        - dj
        - dk
        - dm
        - do
        - dz
        - ec
        - ee
        - eg
        - es
        - et
        - fi
        - fj
        - fr
        - ga
        - gb
        - gd
        - ge
        - gf
        - gg
        - gh
        - gm
        - gn
        - gp
        - gq
        - gr
        - gt
        - gu
        - gw
        - gy
        - hk
        - hn
        - hr
        - ht
        - hu
        - id
        - ie
        - il
        - im
        - in
        - iq
        - ir
        - is
        - it
        - je
        - jm
        - jo
        - jp
        - ke
        - kg
        - kh
        - kn
        - kr
        - kw
        - ky
        - kz
        - la
        - lb
        - lc
        - lk
        - lr
        - ls
        - lt
        - lu
        - lv
        - ly
        - ma
        - mc
        - md
        - me
        - mf
        - mg
        - mk
        - ml
        - mm
        - mn
        - mo
        - mq
        - mr
        - mt
        - mu
        - mv
        - mw
        - mx
        - my
        - mz
        - na
        - nc
        - ne
        - ng
        - ni
        - nl
        - 'no'
        - np
        - nz
        - om
        - pa
        - pe
        - pf
        - pg
        - ph
        - pk
        - pl
        - pr
        - ps
        - pt
        - py
        - qa
        - re
        - ro
        - rs
        - ru
        - rw
        - sa
        - sc
        - sd
        - se
        - sg
        - si
        - sk
        - sl
        - sm
        - sn
        - so
        - sr
        - ss
        - st
        - sv
        - sx
        - sy
        - sz
        - tc
        - td
        - tg
        - th
        - tj
        - tl
        - tm
        - tn
        - tr
        - tt
        - tw
        - tz
        - ua
        - ug
        - us
        - uy
        - uz
        - vc
        - ve
        - vg
        - vi
        - vn
        - ye
        - yt
        - za
        - zm
        - zw
      example: de
      description: >-
        Two-letter ISO 3166-1 alpha-2 country code identifying a supported
        Context.dev residential proxy exit location. Must be one of
        Context.dev's supported countries. When provided, Context.dev fetches
        the target page from that country.
    PageMetadataValue:
      oneOf:
        - type: string
        - type: array
          items:
            type: string
    PageMetadataAlternate:
      type: object
      properties:
        href:
          type: string
          description: Resolved alternate URL.
        hreflang:
          type: string
          description: Language or locale for the alternate URL, when present.
        type:
          type: string
          description: Alternate resource MIME type, when present.
        title:
          type: string
          description: Alternate resource title, when present.
      required:
        - href
      additionalProperties: false
    PageMetadata:
      type: object
      properties:
        sourceUrl:
          type: string
          description: Original URL requested by the caller.
        finalUrl:
          type: string
          description: >-
            Final URL scraped after redirects or scraper fallback, when known.
            Falls back to sourceUrl when unavailable.
        title:
          type: string
          description: Best title extracted from the page.
        description:
          type: string
          description: >-
            Best description extracted from standard, Open Graph, or Twitter
            metadata.
        language:
          type: string
          description: Language extracted from html lang or language meta tags.
        keywords:
          type: array
          items:
            type: string
          description: Keywords extracted from the page's keywords meta tag.
        canonicalUrl:
          type: string
          description: Resolved canonical URL, when present.
        author:
          type: string
          description: Author metadata, when present.
        siteName:
          type: string
          description: Site or application name from page metadata.
        image:
          type: string
          description: >-
            Primary resolved preview image from Open Graph, Twitter, or image
            metadata.
        favicon:
          type: string
          description: Resolved favicon URL, when present.
        publishedTime:
          type: string
          description: Published timestamp/date from page metadata, when present.
        modifiedTime:
          type: string
          description: Modified timestamp/date from page metadata, when present.
        robots:
          type: string
          description: Robots meta directive, when present.
        openGraph:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/PageMetadataValue'
          description: >-
            Open Graph metadata with the og: prefix removed and keys
            camel-cased.
        twitter:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/PageMetadataValue'
          description: >-
            Twitter card metadata with the twitter: prefix removed and keys
            camel-cased.
        alternates:
          type: array
          items:
            $ref: '#/components/schemas/PageMetadataAlternate'
          description: Resolved alternate links from link rel=alternate tags.
        jsonLd:
          type: array
          items:
            type: object
            additionalProperties: true
          description: JSON-LD structured data blocks parsed from the page.
        additionalMeta:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/PageMetadataValue'
          description: >-
            Additional non-social meta tags not promoted to top-level metadata
            fields.
      required:
        - sourceUrl
        - finalUrl
      description: Metadata extracted from the scraped page HTML.
    Industry:
      type: string
      enum:
        - Aerospace & Defense
        - Technology
        - Finance
        - Healthcare
        - Retail & E-commerce
        - Entertainment
        - Education
        - Government & Nonprofit
        - Industrial & Energy
        - Automotive & Transportation
        - Lifestyle & Leisure
        - Luxury & Fashion
        - News & Media
        - Sports
        - Real Estate & PropTech
        - Legal & Compliance
        - Telecommunications
        - Agriculture & Food
        - Professional Services & Agencies
        - Chemicals & Materials
        - Logistics & Supply Chain
        - Hospitality & Tourism
        - Construction & Built Environment
        - Consumer Packaged Goods (CPG)
      description: Industry classification enum
    Subindustry:
      type: string
      enum:
        - Defense Systems & Military Hardware
        - Aerospace Manufacturing
        - Avionics & Navigation Technology
        - Subsea & Naval Defense Systems
        - Space & Satellite Technology
        - Defense IT & Systems Integration
        - Software (B2B)
        - Software (B2C)
        - Cloud Infrastructure & DevOps
        - Cybersecurity
        - Artificial Intelligence & Machine Learning
        - Data Infrastructure & Analytics
        - Hardware & Semiconductors
        - Fintech Infrastructure
        - eCommerce & Marketplace Platforms
        - Developer Tools & APIs
        - Web3 & Blockchain
        - XR & Spatial Computing
        - Banking & Lending
        - Investment Management & WealthTech
        - Insurance & InsurTech
        - Payments & Money Movement
        - Accounting, Tax & Financial Planning Tools
        - Capital Markets & Trading Platforms
        - Financial Infrastructure & APIs
        - Credit Scoring & Risk Management
        - Cryptocurrency & Digital Assets
        - BNPL & Alternative Financing
        - Healthcare Providers & Services
        - Pharmaceuticals & Drug Development
        - Medical Devices & Diagnostics
        - Biotechnology & Genomics
        - Digital Health & Telemedicine
        - Health Insurance & Benefits Tech
        - Clinical Trials & Research Platforms
        - Mental Health & Wellness
        - Healthcare IT & EHR Systems
        - Consumer Health & Wellness Products
        - Online Marketplaces
        - Direct-to-Consumer (DTC) Brands
        - Retail Tech & Point-of-Sale Systems
        - Omnichannel & In-Store Retail
        - E-commerce Enablement & Infrastructure
        - Subscription & Membership Commerce
        - Social Commerce & Influencer Platforms
        - Fashion & Apparel Retail
        - Food, Beverage & Grocery E-commerce
        - Streaming Platforms (Video, Music, Audio)
        - Gaming & Interactive Entertainment
        - Creator Economy & Influencer Platforms
        - Film, TV & Production Studios
        - Events, Venues & Live Entertainment
        - Virtual Worlds & Metaverse Experiences
        - K-12 Education Platforms & Tools
        - Higher Education & University Tech
        - Online Learning & MOOCs
        - Test Prep & Certification
        - Corporate Training & Upskilling
        - Tutoring & Supplemental Learning
        - Education Management Systems (LMS/SIS)
        - Language Learning
        - Creator-Led & Cohort-Based Courses
        - Special Education & Accessibility Tools
        - Government Technology & Digital Services
        - Civic Engagement & Policy Platforms
        - International Development & Humanitarian Aid
        - Philanthropy & Grantmaking
        - Nonprofit Operations & Fundraising Tools
        - Public Health & Social Services
        - Education & Youth Development Programs
        - Environmental & Climate Action Organizations
        - Legal Aid & Social Justice Advocacy
        - Municipal & Infrastructure Services
        - Manufacturing & Industrial Automation
        - Energy Production (Oil, Gas, Nuclear)
        - Renewable Energy & Cleantech
        - Utilities & Grid Infrastructure
        - Industrial IoT & Monitoring Systems
        - Construction & Heavy Equipment
        - Mining & Natural Resources
        - Environmental Engineering & Sustainability
        - Energy Storage & Battery Technology
        - Automotive OEMs & Vehicle Manufacturing
        - Electric Vehicles (EVs) & Charging Infrastructure
        - Mobility-as-a-Service (MaaS)
        - Fleet Management
        - Public Transit & Urban Mobility
        - Autonomous Vehicles & ADAS
        - Aftermarket Parts & Services
        - Telematics & Vehicle Connectivity
        - Aviation & Aerospace Transport
        - Maritime Shipping
        - Fitness & Wellness
        - Beauty & Personal Care
        - Home & Living
        - Dating & Relationships
        - Hobbies, Crafts & DIY
        - Outdoor & Recreational Gear
        - Events, Experiences & Ticketing Platforms
        - Designer & Luxury Apparel
        - Accessories, Jewelry & Watches
        - Footwear & Leather Goods
        - Beauty, Fragrance & Skincare
        - Fashion Marketplaces & Retail Platforms
        - Sustainable & Ethical Fashion
        - Resale, Vintage & Circular Fashion
        - Fashion Tech & Virtual Try-Ons
        - Streetwear & Emerging Luxury
        - Couture & Made-to-Measure
        - News Publishing & Journalism
        - Advertising, Adtech & Media Buying
        - Digital Media & Content Platforms
        - Broadcasting (TV & Radio)
        - Podcasting & Audio Media
        - News Aggregators & Curation Tools
        - Independent & Creator-Led Media
        - Newsletters & Substack-Style Platforms
        - Political & Investigative Media
        - Trade & Niche Publications
        - Media Monitoring & Analytics
        - Professional Teams & Leagues
        - Sports Media & Broadcasting
        - Sports Betting & Fantasy Sports
        - Fitness & Athletic Training Platforms
        - Sportswear & Equipment
        - Esports & Competitive Gaming
        - Sports Venues & Event Management
        - Athlete Management & Talent Agencies
        - Sports Tech & Performance Analytics
        - Youth, Amateur & Collegiate Sports
        - Real Estate Marketplaces
        - Property Management Software
        - Rental Platforms
        - Mortgage & Lending Tech
        - Real Estate Investment Platforms
        - Law Firms & Legal Services
        - Legal Tech & Automation
        - Regulatory Compliance
        - E-Discovery & Litigation Tools
        - Contract Management
        - Governance, Risk & Compliance (GRC)
        - IP & Trademark Management
        - Legal Research & Intelligence
        - Compliance Training & Certification
        - Whistleblower & Ethics Reporting
        - Mobile & Wireless Networks (3G/4G/5G)
        - Broadband & Fiber Internet
        - Satellite & Space-Based Communications
        - Network Equipment & Infrastructure
        - Telecom Billing & OSS/BSS Systems
        - VoIP & Unified Communications
        - Internet Service Providers (ISPs)
        - Edge Computing & Network Virtualization
        - IoT Connectivity Platforms
        - Precision Agriculture & AgTech
        - Crop & Livestock Production
        - Food & Beverage Manufacturing & Processing
        - Food Distribution
        - Restaurants & Food Service
        - Agricultural Inputs & Equipment
        - Sustainable & Regenerative Agriculture
        - Seafood & Aquaculture
        - Management Consulting
        - Marketing & Advertising Agencies
        - Design, Branding & Creative Studios
        - IT Services & Managed Services
        - Staffing, Recruiting & Talent
        - Accounting & Tax Firms
        - Public Relations & Communications
        - Business Process Outsourcing (BPO)
        - Professional Training & Coaching
        - Specialty Chemicals
        - Commodity & Petrochemicals
        - Polymers, Plastics & Rubber
        - Coatings, Adhesives & Sealants
        - Industrial Gases
        - Advanced Materials & Composites
        - Battery Materials & Energy Storage
        - Electronic Materials & Semiconductor Chemicals
        - Agrochemicals & Fertilizers
        - Freight & Transportation Tech
        - Last-Mile Delivery
        - Warehouse Automation
        - Supply Chain Visibility Platforms
        - Logistics Marketplaces
        - Shipping & Freight Forwarding
        - Cold Chain Logistics
        - Reverse Logistics & Returns
        - Cross-Border Trade Tech
        - Transportation Management Systems (TMS)
        - Hotels & Accommodation
        - Vacation Rentals & Short-Term Stays
        - Restaurant Tech & Management
        - Travel Booking Platforms
        - Tourism Experiences & Activities
        - Cruise Lines & Marine Tourism
        - Hospitality Management Systems
        - Event & Venue Management
        - Corporate Travel Management
        - Travel Insurance & Protection
        - Construction Management Software
        - BIM/CAD & Design Tools
        - Construction Marketplaces
        - Equipment Rental & Management
        - Building Materials & Procurement
        - Construction Workforce Management
        - Project Estimation & Bidding
        - Modular & Prefab Construction
        - Construction Safety & Compliance
        - Smart Building Technology
        - Food & Beverage CPG
        - Home & Personal Care CPG
        - CPG Analytics & Insights
        - Direct-to-Consumer CPG Brands
        - CPG Supply Chain & Distribution
        - Private Label Manufacturing
        - CPG Retail Intelligence
        - Sustainable CPG & Packaging
        - Beauty & Cosmetics CPG
        - Health & Wellness CPG
      description: Subindustry classification enum
    SupportedLanguage:
      type: string
      enum:
        - afrikaans
        - albanian
        - amharic
        - arabic
        - armenian
        - assamese
        - aymara
        - azeri
        - basque
        - belarusian
        - bengali
        - bosnian
        - bulgarian
        - burmese
        - cantonese
        - catalan
        - cebuano
        - chinese
        - corsican
        - croatian
        - czech
        - danish
        - dutch
        - english
        - esperanto
        - estonian
        - farsi
        - fijian
        - finnish
        - french
        - galician
        - georgian
        - german
        - greek
        - guarani
        - gujarati
        - haitian-creole
        - hausa
        - hawaiian
        - hebrew
        - hindi
        - hmong
        - hungarian
        - icelandic
        - igbo
        - indonesian
        - irish
        - italian
        - japanese
        - javanese
        - kannada
        - kazakh
        - khmer
        - kinyarwanda
        - korean
        - kurdish
        - kyrgyz
        - lao
        - latin
        - latvian
        - lingala
        - lithuanian
        - luxembourgish
        - macedonian
        - malagasy
        - malay
        - malayalam
        - maltese
        - maori
        - marathi
        - mongolian
        - nepali
        - norwegian
        - odia
        - oromo
        - pashto
        - pidgin
        - polish
        - portuguese
        - punjabi
        - quechua
        - romanian
        - russian
        - samoan
        - scottish-gaelic
        - serbian
        - sesotho
        - shona
        - sindhi
        - sinhala
        - slovak
        - slovene
        - somali
        - spanish
        - sundanese
        - swahili
        - swedish
        - tagalog
        - tajik
        - tamil
        - tatar
        - telugu
        - thai
        - tibetan
        - tigrinya
        - tongan
        - tswana
        - turkish
        - turkmen
        - ukrainian
        - urdu
        - uyghur
        - uzbek
        - vietnamese
        - welsh
        - wolof
        - xhosa
        - yiddish
        - yoruba
        - zulu
      description: Language to force for the retrieved brand data.
    KeyMetadata:
      type: object
      properties:
        credits_consumed:
          type: integer
          description: The number of credits consumed by this request.
        credits_remaining:
          type: integer
          description: >-
            The number of credits remaining for your organization after this
            request.
      required:
        - credits_consumed
        - credits_remaining
      description: >-
        Metadata about the API key used for the request. Included in every
        response whenever a valid API key is provided, even when the response
        status is not 200.
    BrandResponse:
      type: object
      properties:
        status:
          type: string
          description: Status of the response, e.g., 'ok'
        brand:
          type: object
          properties:
            domain:
              type: string
              description: The domain name of the brand
            title:
              type: string
              description: The title or name of the brand
            description:
              type: string
              description: A brief description of the brand
            slogan:
              type: string
              description: The brand's slogan
            colors:
              type: array
              items:
                type: object
                properties:
                  hex:
                    type: string
                    description: Color in hexadecimal format
                  name:
                    type: string
                    description: Name of the color
              description: An array of brand colors
            logos:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                    description: CDN hosted url of the logo (ready for display)
                  mode:
                    type: string
                    enum:
                      - light
                      - dark
                      - has_opaque_background
                    description: >-
                      Indicates when this logo is best used: 'light' = best for
                      light mode, 'dark' = best for dark mode,
                      'has_opaque_background' = can be used for either as image
                      has its own background
                  colors:
                    type: array
                    items:
                      type: object
                      properties:
                        hex:
                          type: string
                          description: Color in hexadecimal format
                        name:
                          type: string
                          description: Name of the color
                    description: Array of colors in the logo
                  resolution:
                    type: object
                    properties:
                      width:
                        type: integer
                        description: Width of the image in pixels
                      height:
                        type: integer
                        description: Height of the image in pixels
                      aspect_ratio:
                        type: number
                        description: Aspect ratio of the image (width/height)
                    description: Resolution of the logo image
                  type:
                    type: string
                    enum:
                      - icon
                      - logo
                    description: >-
                      Type of the logo based on resolution (e.g., 'icon',
                      'logo')
              description: An array of logos associated with the brand
            backdrops:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                    description: URL of the backdrop image
                  colors:
                    type: array
                    items:
                      type: object
                      properties:
                        hex:
                          type: string
                          description: Color in hexadecimal format
                        name:
                          type: string
                          description: Name of the color
                    description: Array of colors in the backdrop image
                  resolution:
                    type: object
                    properties:
                      width:
                        type: integer
                        description: Width of the image in pixels
                      height:
                        type: integer
                        description: Height of the image in pixels
                      aspect_ratio:
                        type: number
                        description: Aspect ratio of the image (width/height)
                    description: Resolution of the backdrop image
              description: An array of backdrop images for the brand
            socials:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                      - x
                      - facebook
                      - instagram
                      - linkedin
                      - youtube
                      - pinterest
                      - tiktok
                      - dribbble
                      - github
                      - behance
                      - snapchat
                      - whatsapp
                      - telegram
                      - line
                      - discord
                      - twitch
                      - vimeo
                      - imdb
                      - tumblr
                      - flickr
                      - giphy
                      - medium
                      - spotify
                      - soundcloud
                      - tripadvisor
                      - yelp
                      - producthunt
                      - reddit
                      - crunchbase
                      - appstore
                      - playstore
                    description: Type of social media platform
                  url:
                    type: string
                    description: URL of the social media page
              description: An array of social media links for the brand
            address:
              type: object
              properties:
                street:
                  type: string
                  description: Street address
                city:
                  type: string
                  description: City name
                country:
                  type: string
                  description: Country name
                country_code:
                  type: string
                  description: Country code
                state_province:
                  type: string
                  description: State or province name
                state_code:
                  type: string
                  description: State or province code
                postal_code:
                  type: string
                  description: Postal or ZIP code
              description: Physical address of the brand
            stock:
              type: object
              properties:
                ticker:
                  type: string
                  description: Stock ticker symbol
                exchange:
                  type: string
                  description: Stock exchange name
              description: >-
                Stock market information for this brand (will be null if not a
                publicly traded company)
            is_nsfw:
              type: boolean
              description: Indicates whether the brand content is not safe for work (NSFW)
            email:
              type: string
              description: Company email address
            phone:
              type: string
              description: Company phone number
            industries:
              type: object
              properties:
                eic:
                  type: array
                  items:
                    type: object
                    properties:
                      industry:
                        $ref: '#/components/schemas/Industry'
                      subindustry:
                        $ref: '#/components/schemas/Subindustry'
                    required:
                      - industry
                      - subindustry
                  description: >-
                    Easy Industry Classification - array of industry and
                    subindustry pairs
              description: Industry classification information for the brand
            links:
              type: object
              properties:
                careers:
                  type:
                    - string
                    - 'null'
                  description: URL to the brand's careers or job opportunities page
                privacy:
                  type:
                    - string
                    - 'null'
                  description: URL to the brand's privacy policy page
                terms:
                  type:
                    - string
                    - 'null'
                  description: >-
                    URL to the brand's terms of service or terms and conditions
                    page
                contact:
                  type:
                    - string
                    - 'null'
                  description: URL to the brand's contact or contact us page
                blog:
                  type:
                    - string
                    - 'null'
                  description: URL to the brand's blog or news page
                pricing:
                  type:
                    - string
                    - 'null'
                  description: URL to the brand's pricing or plans page
              description: Important website links for the brand
            primary_language:
              anyOf:
                - allOf:
                    - $ref: '#/components/schemas/SupportedLanguage'
                - type: 'null'
              description: >-
                The primary language of the brand's website content. Detected
                from the HTML lang tag, page content analysis, or social media
                descriptions.
          description: Detailed brand information
        code:
          type: integer
          description: HTTP status code
        key_metadata:
          $ref: '#/components/schemas/KeyMetadata'
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: Error message
        error_code:
          type: string
          enum:
            - INTERNAL_ERROR
            - VALID
            - NOT_FOUND
            - FORBIDDEN
            - USAGE_EXCEEDED
            - RATE_LIMITED
            - UNAUTHORIZED
            - DISABLED
            - INSUFFICIENT_PERMISSIONS
            - TIMEOUT_EXCEEDS_MAXIMUM
            - WEBSITE_ACCESS_ERROR
            - EXTERNAL_PROVIDER_ERROR
            - INPUT_VALIDATION_ERROR
            - FREE_EMAIL_DETECTED
            - DISPOSABLE_EMAIL_DETECTED
            - REQUEST_TIMEOUT
            - UNSUPPORTED_CONTENT
            - MONITOR_PAUSED
            - MONITOR_LIMIT_EXCEEDED
            - SEARCH_UNAVAILABLE
          description: Error code indicating the type of error
        key_metadata:
          $ref: '#/components/schemas/KeyMetadata'
    SimplifiedBrandResponse:
      type: object
      properties:
        status:
          type: string
          description: Status of the response, e.g., 'ok'
        brand:
          type: object
          properties:
            domain:
              type: string
              description: The domain name of the brand
            title:
              type: string
              description: The title or name of the brand
            colors:
              type: array
              items:
                type: object
                properties:
                  hex:
                    type: string
                    description: Color in hexadecimal format
                  name:
                    type: string
                    description: Name of the color
              description: An array of brand colors
            logos:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                    description: CDN hosted url of the logo (ready for display)
                  mode:
                    type: string
                    enum:
                      - light
                      - dark
                      - has_opaque_background
                    description: >-
                      Indicates when this logo is best used: 'light' = best for
                      light mode, 'dark' = best for dark mode,
                      'has_opaque_background' = can be used for either as image
                      has its own background
                  colors:
                    type: array
                    items:
                      type: object
                      properties:
                        hex:
                          type: string
                          description: Color in hexadecimal format
                        name:
                          type: string
                          description: Name of the color
                    description: Array of colors in the logo
                  resolution:
                    type: object
                    properties:
                      width:
                        type: integer
                        description: Width of the image in pixels
                      height:
                        type: integer
                        description: Height of the image in pixels
                      aspect_ratio:
                        type: number
                        description: Aspect ratio of the image (width/height)
                    description: Resolution of the logo image
                  type:
                    type: string
                    enum:
                      - icon
                      - logo
                    description: >-
                      Type of the logo based on resolution (e.g., 'icon',
                      'logo')
              description: An array of logos associated with the brand
            backdrops:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                    description: URL of the backdrop image
                  colors:
                    type: array
                    items:
                      type: object
                      properties:
                        hex:
                          type: string
                          description: Color in hexadecimal format
                        name:
                          type: string
                          description: Name of the color
                    description: Array of colors in the backdrop image
                  resolution:
                    type: object
                    properties:
                      width:
                        type: integer
                        description: Width of the image in pixels
                      height:
                        type: integer
                        description: Height of the image in pixels
                      aspect_ratio:
                        type: number
                        description: Aspect ratio of the image (width/height)
                    description: Resolution of the backdrop image
              description: An array of backdrop images for the brand
          description: Simplified brand information
        code:
          type: integer
          description: HTTP status code of the response
        key_metadata:
          $ref: '#/components/schemas/KeyMetadata'
    TimeoutMS:
      type: integer
      minimum: 1000
      maximum: 300000
      description: >-
        Optional timeout in milliseconds for the request. If the request takes
        longer than this value, it will be aborted with a 408 status code.
        Maximum allowed value is 300000ms (5 minutes).
    LenientTimeoutMS:
      type: integer
      minimum: 1
      maximum: 300000
      description: >-
        Optional timeout in milliseconds for the request. If the request takes
        longer than this value, it will be aborted with a 408 status code.
        Maximum allowed value is 300000ms (5 minutes).
    UtilityPrefetchDomainIdentifier:
      type: object
      properties:
        domain:
          type: string
          minLength: 3
          description: Domain name to prefetch brand data for
      required:
        - domain
      additionalProperties: false
      title: By domain
      description: Prefetch brand data by domain.
    UtilityPrefetchEmailIdentifier:
      type: object
      properties:
        email:
          type: string
          minLength: 1
          format: email
          description: >-
            Email address to prefetch brand data for. The domain will be
            extracted from the email. Free email providers (gmail.com,
            yahoo.com, etc.) and disposable email addresses are not allowed.
      required:
        - email
      additionalProperties: false
      title: By email
      description: >-
        Prefetch brand data by email. The domain will be extracted and
        validated.
    UtilityPrefetchIdentifier:
      oneOf:
        - $ref: '#/components/schemas/UtilityPrefetchDomainIdentifier'
        - $ref: '#/components/schemas/UtilityPrefetchEmailIdentifier'
      description: >-
        Identifier of the brand to prefetch. Provide exactly one of domain or
        email.
    PersonSource:
      type: object
      properties:
        provider:
          type: string
          enum:
            - linkedin
            - cv
            - manual
            - github
            - other
          description: Source category for this fact.
        sourceUrl:
          type: string
          format: uri
          description: URL where this fact was found.
        importedAt:
          type: string
          format: date-time
          description: Time this source was added.
      required:
        - provider
        - importedAt
      additionalProperties: false
    PersonDate:
      type: object
      properties:
        year:
          type: integer
          description: Year value.
        month:
          type: integer
          minimum: 1
          maximum: 12
          description: Month value, when known.
        day:
          type: integer
          minimum: 1
          maximum: 31
          description: Day value, when known.
      required:
        - year
      additionalProperties: false
    PersonDateRange:
      type: object
      properties:
        startDate:
          allOf:
            - $ref: '#/components/schemas/PersonDate'
          description: Start date, when known.
        endDate:
          allOf:
            - $ref: '#/components/schemas/PersonDate'
          description: End date, when known.
        isCurrent:
          type: boolean
          description: Whether the entry is current.
      additionalProperties: false
    PersonNormalizedName:
      type: object
      properties:
        display:
          type: string
          description: Display name.
        normalized:
          type: string
          description: Standardized name, when available.
      required:
        - display
      additionalProperties: false
    PersonProfile:
      type: object
      properties:
        fullName:
          type: string
          description: Person's full name.
        headline:
          type: string
          description: Short professional headline.
        location:
          type: string
          description: Person's listed location.
        summary:
          type: string
          description: Brief profile summary.
        profilePictureUrl:
          type: string
          format: uri
          description: Profile image URL.
      additionalProperties: false
    PersonEducation:
      type: object
      properties:
        institution:
          allOf:
            - $ref: '#/components/schemas/PersonNormalizedName'
          description: School or institution name.
        qualification:
          type: string
          description: Degree, certificate, or credential.
        fieldOfStudy:
          type: string
          description: Area of study.
        description:
          type: string
          description: Additional education details.
        dates:
          allOf:
            - $ref: '#/components/schemas/PersonDateRange'
          description: Education dates.
      additionalProperties: false
      required:
        - institution
    PersonExperience:
      type: object
      properties:
        company:
          allOf:
            - $ref: '#/components/schemas/PersonNormalizedName'
          description: Company or organization name.
        title:
          type: string
          description: Role or job title.
        description:
          type: string
          description: Role description.
        dates:
          allOf:
            - $ref: '#/components/schemas/PersonDateRange'
          description: Role dates.
      required:
        - company
        - title
      additionalProperties: false
    PersonSkill:
      type: object
      properties:
        name:
          type: string
          description: Skill name.
        normalized:
          type: string
          description: Standardized skill name, when available.
        proficiency:
          type: string
          description: Skill proficiency, when available.
      required:
        - name
      additionalProperties: false
    Person:
      type: object
      properties:
        profile:
          allOf:
            - $ref: '#/components/schemas/PersonProfile'
          description: Core profile details.
        education:
          type: array
          items:
            $ref: '#/components/schemas/PersonEducation'
          description: Education history.
        experience:
          type: array
          items:
            $ref: '#/components/schemas/PersonExperience'
          description: Work history.
        skills:
          type: array
          items:
            $ref: '#/components/schemas/PersonSkill'
          description: Listed skills.
      required:
        - profile
        - education
        - experience
        - skills
      additionalProperties: false
    BrandRetrieveByDomainRequest:
      type: object
      properties:
        force_language:
          allOf:
            - $ref: '#/components/schemas/SupportedLanguage'
            - type:
                - string
                - 'null'
        maxSpeed:
          type: boolean
          description: >-
            Optional parameter to optimize the API call for maximum speed. When
            set to true, the API will skip time-consuming operations for faster
            response at the cost of less comprehensive data.
        maxAgeMs:
          type: integer
          description: >-
            Maximum age in milliseconds for cached brand data before the API
            performs a hard refresh. Defaults to 3 months (7776000000 ms).
            Values below 1 day (86400000 ms) are clamped to 1 day; values above
            1 year (31536000000 ms) are clamped to 1 year.
        timeoutMS:
          $ref: '#/components/schemas/TimeoutMS'
        type:
          type: string
          enum:
            - by_domain
          description: Discriminator for domain-based brand retrieval.
        domain:
          type: string
          minLength: 3
          description: Domain name to retrieve brand data for (e.g., 'stripe.com').
        tags:
          $ref: '#/components/schemas/RequestTags'
      required:
        - type
        - domain
      additionalProperties: false
      title: By domain
      description: >-
        Retrieve brand data by domain. Cannot be combined with name, email, or
        ticker.
    BrandRetrieveByNameRequest:
      type: object
      properties:
        force_language:
          allOf:
            - $ref: '#/components/schemas/SupportedLanguage'
            - type:
                - string
                - 'null'
        maxSpeed:
          type: boolean
          description: >-
            Optional parameter to optimize the API call for maximum speed. When
            set to true, the API will skip time-consuming operations for faster
            response at the cost of less comprehensive data.
        maxAgeMs:
          type: integer
          description: >-
            Maximum age in milliseconds for cached brand data before the API
            performs a hard refresh. Defaults to 3 months (7776000000 ms).
            Values below 1 day (86400000 ms) are clamped to 1 day; values above
            1 year (31536000000 ms) are clamped to 1 year.
        timeoutMS:
          $ref: '#/components/schemas/TimeoutMS'
        type:
          type: string
          enum:
            - by_name
          description: Discriminator for name-based brand retrieval.
        name:
          type: string
          minLength: 3
          maxLength: 30
          description: Company name to retrieve brand data for (e.g., 'Apple Inc').
        country_gl:
          type: string
          description: >-
            Optional country code hint (GL parameter) to specify the country
            when looking up by company name.
        tags:
          $ref: '#/components/schemas/RequestTags'
      required:
        - type
        - name
      additionalProperties: false
      title: By name
      description: >-
        Retrieve brand data by company name. Cannot be combined with domain,
        email, or ticker.
    BrandRetrieveByEmailRequest:
      type: object
      properties:
        force_language:
          allOf:
            - $ref: '#/components/schemas/SupportedLanguage'
            - type:
                - string
                - 'null'
        maxSpeed:
          type: boolean
          description: >-
            Optional parameter to optimize the API call for maximum speed. When
            set to true, the API will skip time-consuming operations for faster
            response at the cost of less comprehensive data.
        maxAgeMs:
          type: integer
          description: >-
            Maximum age in milliseconds for cached brand data before the API
            performs a hard refresh. Defaults to 3 months (7776000000 ms).
            Values below 1 day (86400000 ms) are clamped to 1 day; values above
            1 year (31536000000 ms) are clamped to 1 year.
        timeoutMS:
          $ref: '#/components/schemas/TimeoutMS'
        type:
          type: string
          enum:
            - by_email
          description: Discriminator for email-based brand retrieval.
        email:
          type: string
          minLength: 1
          format: email
          description: Email address to retrieve brand data for (e.g., 'jane@stripe.com').
        tags:
          $ref: '#/components/schemas/RequestTags'
      required:
        - type
        - email
      additionalProperties: false
      title: By email
      description: >-
        Retrieve brand data by email address. The domain is extracted from the
        email. Free and disposable email providers are rejected with 422. Cannot
        be combined with domain, name, or ticker.
    BrandRetrieveByTickerRequest:
      type: object
      properties:
        force_language:
          allOf:
            - $ref: '#/components/schemas/SupportedLanguage'
            - type:
                - string
                - 'null'
        maxSpeed:
          type: boolean
          description: >-
            Optional parameter to optimize the API call for maximum speed. When
            set to true, the API will skip time-consuming operations for faster
            response at the cost of less comprehensive data.
        maxAgeMs:
          type: integer
          description: >-
            Maximum age in milliseconds for cached brand data before the API
            performs a hard refresh. Defaults to 3 months (7776000000 ms).
            Values below 1 day (86400000 ms) are clamped to 1 day; values above
            1 year (31536000000 ms) are clamped to 1 year.
        timeoutMS:
          $ref: '#/components/schemas/TimeoutMS'
        type:
          type: string
          enum:
            - by_ticker
          description: Discriminator for ticker-based brand retrieval.
        ticker:
          type: string
          minLength: 1
          maxLength: 15
          pattern: ^[A-Za-z0-9.]+$
          description: Stock ticker symbol to retrieve brand data for (e.g., 'AAPL').
        ticker_exchange:
          type: string
          description: >-
            Optional stock exchange for the ticker. Defaults to NASDAQ if not
            specified.
        tags:
          $ref: '#/components/schemas/RequestTags'
      required:
        - type
        - ticker
      additionalProperties: false
      title: By stock
      description: >-
        Retrieve brand data by stock ticker. Cannot be combined with domain,
        name, or email.
    BrandRetrieveByDirectUrlRequest:
      type: object
      properties:
        type:
          type: string
          enum:
            - by_direct_url
          description: Discriminator for direct-URL-based brand retrieval.
        direct_url:
          type: string
          format: uri
          description: >-
            Full http(s) URL to fetch brand data from (e.g.,
            'https://stripe.com/enterprise'). Only this URL is fetched — not the
            entire internet.
        timeoutMS:
          $ref: '#/components/schemas/TimeoutMS'
        tags:
          $ref: '#/components/schemas/RequestTags'
      required:
        - type
        - direct_url
      additionalProperties: false
      title: By direct URL
      description: >-
        Retrieve brand data by fetching the provided URL directly. Note: if you
        use this, brand data is fetched only from the provided URL — not from
        the entire internet — so results are limited to what that single page
        contains. No domain resolution, database lookup, or cross-source
        enrichment is performed. Cannot be combined with domain, name, email, or
        ticker.
    BrandRetrieveFromTransactionRequest:
      type: object
      properties:
        type:
          type: string
          enum:
            - by_transaction
          description: Discriminator for transaction-based brand retrieval.
        transaction_info:
          type: string
          minLength: 3
          maxLength: 500
          description: Transaction information to identify the brand.
        force_language:
          allOf:
            - $ref: '#/components/schemas/SupportedLanguage'
            - type:
                - string
                - 'null'
        maxSpeed:
          type: boolean
          description: >-
            Optional parameter to optimize the API call for maximum speed. When
            set to true, the API will skip time-consuming operations for faster
            response at the cost of less comprehensive data.
        timeoutMS:
          $ref: '#/components/schemas/TimeoutMS'
        country_gl:
          type: string
          description: >-
            Optional country code hint (GL parameter) to specify the country
            when identifying a transaction.
        city:
          type: string
          description: Optional city name to prioritize when searching for the brand.
        mcc:
          anyOf:
            - type: string
            - type: number
          description: >-
            Optional Merchant Category Code (MCC) to help identify the business
            category or industry.
        phone:
          anyOf:
            - type: string
            - type: number
          description: >-
            Optional phone number from the transaction to help verify brand
            match.
        high_confidence_only:
          type: boolean
          description: >-
            When set to true, the API performs additional verification to ensure
            the identified brand matches the transaction with high confidence.
        tags:
          $ref: '#/components/schemas/RequestTags'
      required:
        - type
        - transaction_info
      additionalProperties: false
      title: By transaction
      description: >-
        Identify brand data from a transaction descriptor. Cannot be combined
        with domain, name, email, or ticker.
    BrandRetrieveRequest:
      oneOf:
        - $ref: '#/components/schemas/BrandRetrieveByDomainRequest'
        - $ref: '#/components/schemas/BrandRetrieveByNameRequest'
        - $ref: '#/components/schemas/BrandRetrieveByEmailRequest'
        - $ref: '#/components/schemas/BrandRetrieveByTickerRequest'
        - $ref: '#/components/schemas/BrandRetrieveByDirectUrlRequest'
        - $ref: '#/components/schemas/BrandRetrieveFromTransactionRequest'
      discriminator:
        propertyName: type
        mapping:
          by_domain: '#/components/schemas/BrandRetrieveByDomainRequest'
          by_name: '#/components/schemas/BrandRetrieveByNameRequest'
          by_email: '#/components/schemas/BrandRetrieveByEmailRequest'
          by_ticker: '#/components/schemas/BrandRetrieveByTickerRequest'
          by_direct_url: '#/components/schemas/BrandRetrieveByDirectUrlRequest'
          by_transaction: '#/components/schemas/BrandRetrieveFromTransactionRequest'
      description: Exactly one lookup type must be provided.
    PersonRetrieveRequest:
      type: object
      properties:
        identifiers:
          type: object
          properties:
            linkedinUrl:
              type: string
              format: uri
              description: >-
                LinkedIn profile URL, e.g.
                https://www.linkedin.com/in/yahia-bakour/.
          additionalProperties: false
          description: >-
            Known identifiers for the person. At least one identifier is
            required.
        timeoutMS:
          $ref: '#/components/schemas/TimeoutMS'
        tags:
          $ref: '#/components/schemas/RequestTags'
      required:
        - identifiers
      additionalProperties: false
    PersonRetrieveResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - ok
          description: Response status.
        code:
          type: integer
          enum:
            - 200
          description: HTTP status code.
        person:
          allOf:
            - $ref: '#/components/schemas/Person'
          description: Retrieved person profile.
        metadata:
          type: object
          properties:
            identifiers:
              type: object
              properties:
                linkedinUrl:
                  type: string
                  format: uri
                  description: LinkedIn profile URL.
              additionalProperties: false
              description: Identifiers returned for the person.
            personalWebsiteUrl:
              type: string
              format: uri
              description: Personal website URL, when found.
            urlsAnalyzed:
              type: array
              items:
                type: string
                format: uri
              description: URLs reviewed for this profile.
            sourcesAttempted:
              type: array
              items:
                type: string
                enum:
                  - linkedin
                  - cv
                  - manual
                  - github
                  - other
              description: Source categories checked.
            sourcesSucceeded:
              type: array
              items:
                type: string
                enum:
                  - linkedin
                  - cv
                  - manual
                  - github
                  - other
              description: Source categories with data.
          required:
            - identifiers
            - urlsAnalyzed
            - sourcesAttempted
            - sourcesSucceeded
          additionalProperties: false
          description: Additional response details.
        key_metadata:
          $ref: '#/components/schemas/KeyMetadata'
      required:
        - status
        - code
        - person
        - metadata
      additionalProperties: false
    MonitorsMode:
      type: string
      enum:
        - web
      description: >-
        Top-level monitor category. Always `web` today; the concrete behavior is
        described by `target` and `change_detection`.
      title: Monitor mode
    MonitorsPageTarget:
      type: object
      properties:
        type:
          type: string
          enum:
            - page
        url:
          type: string
          format: uri
          example: https://acme.com/pricing
        normalize_whitespace:
          type: boolean
          default: true
          description: Normalize whitespace before comparing or analyzing text.
      required:
        - type
        - url
      additionalProperties: false
      description: Watch a single web page.
      title: Page target
    MonitorsSitemapTarget:
      type: object
      properties:
        type:
          type: string
          enum:
            - sitemap
        url:
          type: string
          format: uri
          description: Sitemap URL to monitor.
          example: https://acme.com/sitemap.xml
        include:
          type: array
          items:
            type: string
          description: URL path patterns to include.
          example:
            - /blog/*
            - /pricing*
        exclude:
          type: array
          items:
            type: string
          description: URL path patterns to exclude.
          example:
            - /legal/*
            - /privacy
        max_urls:
          type: integer
          minimum: 1
          maximum: 10000
          default: 5000
          description: Maximum number of sitemap URLs to track (capped at 10,000).
      required:
        - type
        - url
      additionalProperties: false
      description: >-
        Watch a sitemap for URL additions and removals. Crawled URLs are
        normalized (lowercased host, no trailing slash/fragment) and scoped to
        the monitored site and its subdomains before comparison. On a detected
        difference the sitemap is re-fetched within the same run and only URLs
        both observations agree on are reported, suppressing transient crawl
        flaps.
      title: Sitemap target
    MonitorsExtractTarget:
      type: object
      properties:
        type:
          type: string
          enum:
            - extract
        url:
          type: string
          format: uri
          description: Root URL to extract structured data from.
          example: https://acme.com
        schema:
          type: object
          additionalProperties: {}
          description: >-
            JSON Schema describing the data you care about. It is used three
            ways: it guides which pages are selected for tracking, it gives the
            change judge extra context on which changes matter (alongside
            `instructions`), and it defines the shape of the baseline `data`
            snapshot on GET /monitors/{monitor_id} (refreshed at most about once
            a day). It is not a response format for changes: change events and
            webhook payloads always contain diffs, summaries, and evidence
            excerpts — never data in this schema's shape. If omitted, a default
            summary + key-points schema is used.
          example:
            type: object
            properties:
              plans:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    price:
                      type: string
        instructions:
          type: string
          minLength: 1
          maxLength: 2000
          description: >-
            Natural-language instructions guiding which pages and facts to track
            and which changes to report.
          example: >-
            Extract every pricing plan with its monthly price and included
            limits.
        max_pages:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
          description: Maximum number of pages to track.
        max_depth:
          type: integer
          minimum: 0
          maximum: 10
          description: >-
            Optional maximum link depth from the starting URL (0 = only the
            starting page).
        follow_subdomains:
          type: boolean
          default: false
      required:
        - type
        - url
        - instructions
      additionalProperties: false
      title: Extract target
    MonitorsTarget:
      oneOf:
        - $ref: '#/components/schemas/MonitorsPageTarget'
        - $ref: '#/components/schemas/MonitorsSitemapTarget'
        - allOf:
            - $ref: '#/components/schemas/MonitorsExtractTarget'
            - description: >-
                Watch the monitor-relevant pages of a site for meaningful
                changes. A crawl guided by `schema`/`instructions` selects up to
                `max_pages` relevant pages to track; each run re-checks exactly
                those pages, and confirmed content changes are judged for
                relevance against the monitor's `instructions` (and `schema`,
                when provided). The tracked page set is refreshed by a periodic
                re-discovery crawl.
      discriminator:
        propertyName: type
        mapping:
          page: '#/components/schemas/MonitorsPageTarget'
          sitemap: '#/components/schemas/MonitorsSitemapTarget'
          extract: '#/components/schemas/MonitorsExtractTarget'
      description: Discriminated union describing what the monitor watches.
    MonitorsExactChangeDetection:
      type: object
      properties:
        type:
          type: string
          enum:
            - exact
      required:
        - type
      additionalProperties: false
      description: >-
        Detect exact changes. For page targets, this means visible text diffs.
        For sitemap targets, this means URL additions and removals.
      title: Exact
    MonitorsSemanticChangeDetection:
      type: object
      properties:
        type:
          type: string
          enum:
            - semantic
        confidence_threshold:
          type: number
          minimum: 0
          maximum: 1
          default: 0.75
      required:
        - type
      additionalProperties: false
      description: >-
        Detect meaning-level changes to tracked page content, ignoring cosmetic
        or paraphrase-only differences. Which changes are meaningful is judged
        against the extract target's `instructions` (and `schema`, when
        provided).
      title: Semantic
    MonitorsChangeDetection:
      oneOf:
        - $ref: '#/components/schemas/MonitorsExactChangeDetection'
        - $ref: '#/components/schemas/MonitorsSemanticChangeDetection'
      discriminator:
        propertyName: type
        mapping:
          exact: '#/components/schemas/MonitorsExactChangeDetection'
          semantic: '#/components/schemas/MonitorsSemanticChangeDetection'
      description: Discriminated union describing how changes are detected.
    MonitorsScheduleUnit:
      type: string
      enum:
        - minutes
        - hours
        - days
      example: hours
    MonitorsIntervalSchedule:
      type: object
      properties:
        type:
          type: string
          enum:
            - interval
        frequency:
          type: integer
          minimum: 1
          maximum: 525600
          description: >-
            Number of units between runs. The resulting interval (frequency ×
            unit) must be at least 10 minutes and at most 1 year (e.g. minimum
            10 when unit is minutes; maximum 365 when unit is days).
          example: 6
        unit:
          $ref: '#/components/schemas/MonitorsScheduleUnit'
      required:
        - type
        - frequency
        - unit
      additionalProperties: false
      description: >-
        Run the monitor on a fixed interval defined by a frequency and a unit,
        e.g. every 6 hours or every 2 days. The total interval (frequency ×
        unit) must be between 10 minutes and 1 year.
      title: Interval
    MonitorsSchedule:
      oneOf:
        - $ref: '#/components/schemas/MonitorsIntervalSchedule'
      discriminator:
        propertyName: type
        mapping:
          interval: '#/components/schemas/MonitorsIntervalSchedule'
      description: >-
        Discriminated union describing how the monitor is scheduled. Only
        `interval` is supported today; `cron` and `exact_time` are reserved for
        future use.
    MonitorsWebhookConfig:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: Webhook URL events are delivered to.
          example: https://example.com/webhook
        events:
          type: array
          items:
            type: string
            enum:
              - change.detected
              - run.completed
          minItems: 1
          maxItems: 2
          uniqueItems: true
          description: >-
            Events delivered to this endpoint. `change.detected` fires only when
            a run detects a change; `run.completed` fires on every completed run
            — including runs that detected no change — and embeds the change
            when one was detected. Defaults to `["change.detected"]` when
            omitted.
          example:
            - change.detected
            - run.completed
        secret:
          type: string
          readOnly: true
          description: >-
            Signing secret used to verify webhook authenticity. Each delivery
            includes an `X-Context-Signature: t=<unix>,v1=<hmac>` header, where
            the HMAC is SHA-256 over `"{t}.{rawRequestBody}"` keyed by this
            secret. Recompute it with a constant-time compare and reject stale
            timestamps to prevent replay. Generated by the API; cannot be set by
            clients.
          example: whsec_8f3a…
      required:
        - url
      additionalProperties: false
    MonitorsNullableWebhookConfig:
      anyOf:
        - allOf:
            - $ref: '#/components/schemas/MonitorsWebhookConfig'
        - type: 'null'
    MonitorsCreateMonitorRequest:
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/MonitorsMode'
        name:
          type: string
          minLength: 1
          maxLength: 200
          example: Acme pricing monitor
        tags:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 50
          maxItems: 20
          description: >-
            User-defined tags for grouping and filtering monitors and their
            changes.
          example:
            - pricing
            - competitor
        target:
          $ref: '#/components/schemas/MonitorsTarget'
        change_detection:
          $ref: '#/components/schemas/MonitorsChangeDetection'
        schedule:
          $ref: '#/components/schemas/MonitorsSchedule'
        webhook:
          $ref: '#/components/schemas/MonitorsNullableWebhookConfig'
      required:
        - name
        - target
        - change_detection
        - schedule
      additionalProperties: false
      title: Create monitor request
      description: >-
        Creates a web monitor. `mode` is the constant `web`; the behavior is
        described by `target` (page, sitemap, or extract) and `change_detection`
        (exact or semantic). Supported combinations: page + exact, sitemap +
        exact, extract + semantic.
    MonitorsUpdateMonitorRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
          example: Acme pricing monitor
        tags:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 50
          maxItems: 20
          description: >-
            User-defined tags for grouping and filtering monitors and their
            changes.
          example:
            - pricing
            - competitor
        status:
          type: string
          enum:
            - active
            - paused
        target:
          $ref: '#/components/schemas/MonitorsTarget'
        change_detection:
          $ref: '#/components/schemas/MonitorsChangeDetection'
        schedule:
          $ref: '#/components/schemas/MonitorsSchedule'
        webhook:
          $ref: '#/components/schemas/MonitorsNullableWebhookConfig'
          description: Set to null to remove the webhook.
      additionalProperties: false
      description: >-
        Shared monitor update fields. `target` and `change_detection` can be
        updated, but the final combination must be supported.
    MonitorsMonitorStatus:
      type: string
      enum:
        - active
        - paused
        - failed
      description: >-
        Monitor lifecycle status. `failed` means the most recent run failed (see
        the monitor's `last_error`); failed monitors keep running on schedule
        and flip back to `active` on the next successful run. Monitors are
        auto-`paused` after repeated consecutive failures or insufficient-credit
        skips; resume by PATCHing status to `active`.
    MonitorsRunError:
      type: object
      properties:
        code:
          type: string
          example: fetch_failed
        message:
          type: string
          example: The target URL could not be fetched.
      required:
        - code
        - message
      additionalProperties: false
    MonitorsWebhookFailure:
      type: object
      properties:
        consecutive_failures:
          type: integer
          minimum: 1
          description: Number of consecutive delivery attempts that did not succeed.
          example: 3
        last_status:
          type: string
          enum:
            - rejected
            - failed
            - skipped_unsafe_url
          description: >-
            Outcome of the most recent failed delivery. rejected means a non-2xx
            response; failed means no HTTP response was received;
            skipped_unsafe_url means the URL failed the public-endpoint safety
            check.
        last_message:
          type: string
          description: Human-readable description of the most recent failure.
          example: Webhook endpoint returned HTTP 429.
        last_failed_at:
          type: string
          format: date-time
      required:
        - consecutive_failures
        - last_status
        - last_message
        - last_failed_at
      additionalProperties: false
    MonitorsPageBaseline:
      type: object
      properties:
        text:
          type: string
          description: The page's visible text as last observed.
          example: |-
            Acme Pricing
            Starter $9/mo…
        captured_at:
          type: string
          format: date-time
          description: When this baseline was last captured or replaced.
      required:
        - text
        - captured_at
      additionalProperties: false
      title: Page baseline
      description: >-
        Current baseline of a `page` monitor: the visible page text as last
        observed.
    MonitorsSitemapBaseline:
      type: object
      properties:
        urls:
          type: array
          items:
            type: string
          description: The sitemap URLs as last observed (sorted, normalized).
          example:
            - https://acme.com/blog/launch
            - https://acme.com/pricing
        url_count:
          type: integer
          description: Number of URLs in the baseline.
          example: 2
        captured_at:
          type: string
          format: date-time
          description: When this baseline was last captured or replaced.
      required:
        - urls
        - url_count
        - captured_at
      additionalProperties: false
      title: Sitemap baseline
      description: >-
        Current baseline of a `sitemap` monitor: the normalized URL set as last
        observed.
    MonitorsExtractBaseline:
      type: object
      properties:
        data:
          description: >-
            The extracted structured data, matching the monitor's extraction
            schema (same shape as the /web/extract endpoint's `data`). Refreshed
            when the monitor re-discovers its page set (at most about once a
            day); `null` when no extraction has been captured yet.
          example:
            plans:
              - name: Starter
                price: $9/mo
        urls_analyzed:
          type: array
          items:
            type: string
          description: The page URLs the monitor tracks and analyzes for changes.
          example:
            - https://acme.com/pricing
        captured_at:
          type: string
          format: date-time
          description: When this baseline was last captured or replaced.
      required:
        - data
        - urls_analyzed
        - captured_at
      additionalProperties: false
      title: Extract baseline
      description: >-
        Current baseline of an `extract` monitor: the pages it tracks and the
        structured data as last extracted.
    MonitorsMonitor:
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/MonitorsMode'
        id:
          type: string
          example: mon_123
        name:
          type: string
          example: Acme pricing monitor
        target:
          $ref: '#/components/schemas/MonitorsTarget'
        change_detection:
          $ref: '#/components/schemas/MonitorsChangeDetection'
        schedule:
          $ref: '#/components/schemas/MonitorsSchedule'
        webhook:
          $ref: '#/components/schemas/MonitorsNullableWebhookConfig'
        status:
          $ref: '#/components/schemas/MonitorsMonitorStatus'
        last_run_at:
          type:
            - string
            - 'null'
          format: date-time
        last_change_at:
          type:
            - string
            - 'null'
          format: date-time
        next_run_at:
          type:
            - string
            - 'null'
          format: date-time
          description: When the next scheduled run is due.
        last_error:
          anyOf:
            - allOf:
                - $ref: '#/components/schemas/MonitorsRunError'
            - type: 'null'
          description: >-
            Error from the most recent failed run; null when the last run
            succeeded.
        webhook_failure:
          allOf:
            - $ref: '#/components/schemas/MonitorsWebhookFailure'
          nullable: true
          description: >-
            Present while webhook deliveries are failing consecutively; null
            when deliveries are healthy or no webhook is configured. Cleared on
            the next successful delivery and when the webhook URL changes.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        tags:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 50
          maxItems: 20
          description: >-
            User-defined tags for grouping and filtering monitors and their
            changes.
          example:
            - pricing
            - competitor
        baseline:
          oneOf:
            - $ref: '#/components/schemas/MonitorsPageBaseline'
            - $ref: '#/components/schemas/MonitorsSitemapBaseline'
            - $ref: '#/components/schemas/MonitorsExtractBaseline'
            - type: 'null'
          description: >-
            Current baseline: the last observed value the monitor compares new
            snapshots against. Its shape follows `target.type`
            (page/sitemap/extract). Only populated on GET
            /monitors/{monitor_id}; null until the first baseline run completes
            (and after a target or change_detection update, which resets the
            baseline).
      required:
        - mode
        - id
        - name
        - target
        - change_detection
        - schedule
        - status
        - created_at
        - updated_at
      additionalProperties: false
      title: Monitor
      description: >-
        A web monitor. `mode` is the constant `web`; behavior is described by
        `target` (page/sitemap/extract) and `change_detection` (exact/semantic).
    MonitorsTargetType:
      type: string
      enum:
        - page
        - sitemap
        - extract
    MonitorsChangeDetectionType:
      type: string
      enum:
        - exact
        - semantic
    MonitorsScheduleType:
      type: string
      enum:
        - interval
        - cron
        - exact_time
      description: >-
        Schedule strategy discriminator. `cron` and `exact_time` are reserved
        for future use and are not yet accepted.
    MonitorsRunStatus:
      type: string
      enum:
        - queued
        - running
        - completed
        - failed
        - skipped
      description: >-
        Lifecycle status of a run. `skipped` runs never executed — see
        `skip_reason` (insufficient credits, monitor paused, or superseded by a
        concurrent run).
    MonitorsNullableRunError:
      anyOf:
        - allOf:
            - $ref: '#/components/schemas/MonitorsRunError'
        - type: 'null'
    MonitorsWebhookDelivery:
      type: object
      properties:
        event_id:
          type: string
          description: Identifier sent in the X-Context-Id header.
          example: evt_123
        event:
          type: string
          enum:
            - change.detected
            - run.completed
          description: >-
            The event this delivery carried. Deliveries recorded before event
            selection existed report change.detected.
        status:
          type: string
          enum:
            - delivered
            - rejected
            - failed
            - skipped_unsafe_url
          description: >-
            Delivery outcome. delivered means any 2xx response; rejected means a
            non-2xx response; failed means no HTTP response was received;
            skipped_unsafe_url means the URL failed the public-endpoint safety
            check.
        http_status:
          type:
            - integer
            - 'null'
          minimum: 100
          maximum: 599
          description: >-
            The endpoint's final HTTP response status, or null when no response
            was received.
          example: 200
        attempted_at:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/MonitorsNullableRunError'
      required:
        - event_id
        - event
        - status
        - http_status
        - attempted_at
        - error
      additionalProperties: false
    MonitorsRun:
      type: object
      properties:
        id:
          type: string
          example: run_123
        monitor_id:
          type: string
          example: mon_123
        status:
          $ref: '#/components/schemas/MonitorsRunStatus'
        run_type:
          type: string
          enum:
            - baseline
            - scheduled
          description: The first run after monitor creation is a baseline run.
        target_type:
          $ref: '#/components/schemas/MonitorsTargetType'
        change_detection_type:
          $ref: '#/components/schemas/MonitorsChangeDetectionType'
        started_at:
          type:
            - string
            - 'null'
          format: date-time
        completed_at:
          type:
            - string
            - 'null'
          format: date-time
        change_detected:
          type: boolean
          example: true
        change_id:
          type:
            - string
            - 'null'
          example: chg_123
        baseline_created:
          type: boolean
          description: >-
            True when this run established the monitor's initial baseline;
            baseline runs perform no change detection.
        credits_charged:
          type: integer
          minimum: 0
          description: Credits charged for this run (0 for skipped/failed runs).
          example: 1
        skip_reason:
          type:
            - string
            - 'null'
          enum:
            - insufficient_credits
            - monitor_paused
            - superseded
            - null
          description: Why a skipped run never executed; null unless status is `skipped`.
        error:
          $ref: '#/components/schemas/MonitorsNullableRunError'
        webhook_delivery:
          $ref: '#/components/schemas/MonitorsWebhookDelivery'
          deprecated: true
          description: >-
            Deprecated: use `webhook_deliveries`, which records every attempt
            now that a run can deliver multiple events. Omitted when no webhook
            was attempted, including historical runs created before delivery
            tracking was added.
        webhook_deliveries:
          type: array
          items:
            $ref: '#/components/schemas/MonitorsWebhookDelivery'
          description: >-
            All webhook deliveries attempted by this run — one per subscribed
            event that fired. Omitted when no webhook was attempted, including
            runs created before event selection was added.
      required:
        - id
        - monitor_id
        - status
        - run_type
        - target_type
        - change_detection_type
        - change_detected
        - baseline_created
        - credits_charged
      additionalProperties: false
    MonitorsImportance:
      type: string
      enum:
        - low
        - medium
        - high
    MonitorsChangeSummary:
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/MonitorsMode'
        id:
          type: string
          example: chg_123
        monitor_id:
          type: string
          example: mon_123
        target_type:
          $ref: '#/components/schemas/MonitorsTargetType'
        change_detection_type:
          $ref: '#/components/schemas/MonitorsChangeDetectionType'
        title:
          type: string
          example: Acme pricing page changed
        summary:
          type: string
          example: The visible text on the page changed.
        detected_at:
          type: string
          format: date-time
        url:
          type: string
          format: uri
        importance:
          $ref: '#/components/schemas/MonitorsImportance'
        confidence:
          type: number
          minimum: 0
          maximum: 1
        added_url_count:
          type: integer
          minimum: 0
        removed_url_count:
          type: integer
          minimum: 0
        matched_url_count:
          type: integer
          minimum: 0
        tags:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 50
          maxItems: 20
          description: >-
            User-defined tags for grouping and filtering monitors and their
            changes.
          example:
            - pricing
            - competitor
      required:
        - mode
        - id
        - monitor_id
        - target_type
        - change_detection_type
        - title
        - summary
        - detected_at
        - url
      additionalProperties: false
      title: Change summary
      description: >-
        A lightweight change summary. `mode` is the constant `web`;
        `target_type` and `change_detection_type` describe the change, and which
        optional fields are present depends on them (e.g. sitemap changes
        include `added_url_count`/`removed_url_count`; semantic changes include
        `confidence`/`importance`).
    MonitorsEvidence:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: Optional URL the evidence relates to. Absent for whole-target diffs.
        before:
          type: string
          description: Snapshot of the content before the change.
        after:
          type: string
          description: Snapshot of the content after the change.
      required:
        - before
        - after
      additionalProperties: false
    MonitorsChange:
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/MonitorsMode'
        id:
          type: string
          example: chg_123
        monitor_id:
          type: string
          example: mon_123
        run_id:
          type: string
          example: run_123
          description: The run that detected this change.
        target_type:
          $ref: '#/components/schemas/MonitorsTargetType'
        change_detection_type:
          $ref: '#/components/schemas/MonitorsChangeDetectionType'
        title:
          type: string
          example: Acme pricing page changed
        summary:
          type: string
          example: The visible text on the page changed.
        detected_at:
          type: string
          format: date-time
        url:
          type: string
          format: uri
        importance:
          $ref: '#/components/schemas/MonitorsImportance'
        confidence:
          type: number
          minimum: 0
          maximum: 1
        diff:
          type: string
          description: >-
            Text diff between the previous and current page baseline (page
            targets).
        before_text_excerpt:
          type: string
        after_text_excerpt:
          type: string
        added_urls:
          type: array
          items:
            type: string
            format: uri
          description: >-
            At most 500 URLs are included; the corresponding count field is
            always exact.
        removed_urls:
          type: array
          items:
            type: string
            format: uri
          description: >-
            At most 500 URLs are included; the corresponding count field is
            always exact.
        added_url_count:
          type: integer
          minimum: 0
        removed_url_count:
          type: integer
          minimum: 0
        matched_urls:
          type: array
          items:
            type: string
            format: uri
          description: >-
            At most 500 URLs are included; the corresponding count field is
            always exact.
        matched_url_count:
          type: integer
          minimum: 0
        evidence:
          type: array
          items:
            $ref: '#/components/schemas/MonitorsEvidence'
        tags:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 50
          maxItems: 20
          description: >-
            User-defined tags for grouping and filtering monitors and their
            changes.
          example:
            - pricing
            - competitor
      required:
        - mode
        - id
        - monitor_id
        - run_id
        - target_type
        - change_detection_type
        - title
        - summary
        - detected_at
        - url
        - tags
      additionalProperties: false
      title: Change
      description: >-
        A detected change. `mode` is the constant `web`; `target_type` and
        `change_detection_type` describe the change, and which optional fields
        are present depends on them (page: `diff` + excerpts; sitemap:
        `added_urls`/`removed_urls`; semantic:
        `confidence`/`importance`/`evidence`/`matched_urls`).
    MonitorsListMonitorsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MonitorsMonitor'
        has_more:
          type: boolean
        next_cursor:
          type:
            - string
            - 'null'
      required:
        - data
        - has_more
        - next_cursor
      additionalProperties: false
    MonitorsListRunsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MonitorsRun'
        has_more:
          type: boolean
        next_cursor:
          type:
            - string
            - 'null'
      required:
        - data
        - has_more
        - next_cursor
      additionalProperties: false
    MonitorsListChangesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MonitorsChangeSummary'
        has_more:
          type: boolean
        next_cursor:
          type:
            - string
            - 'null'
      required:
        - data
        - has_more
        - next_cursor
      additionalProperties: false
    MonitorsDeleteMonitorResponse:
      type: object
      properties:
        id:
          type: string
          example: mon_123
        deleted:
          type: boolean
          example: true
      required:
        - id
        - deleted
      additionalProperties: false
    MonitorsChangeDetectedWebhookPayload:
      type: object
      properties:
        event:
          type: string
          enum:
            - change.detected
        id:
          type: string
          example: evt_123
        created_at:
          type: string
          format: date-time
          example: '2026-07-09T18:00:12.000Z'
        data:
          type: object
          properties:
            change:
              $ref: '#/components/schemas/MonitorsChange'
          required:
            - change
          additionalProperties: false
      required:
        - event
        - id
        - created_at
        - data
      additionalProperties: false
      title: Monitor change detected webhook payload
      description: >-
        Payload sent when a monitor detects a change. The nested change is the
        same full change record returned by GET /monitors/changes/{change_id}.
    MonitorsRunCompletedWebhookPayload:
      type: object
      properties:
        event:
          type: string
          enum:
            - run.completed
        id:
          type: string
          example: evt_123
        created_at:
          type: string
          format: date-time
          example: '2026-07-09T18:00:12.000Z'
        data:
          type: object
          properties:
            run:
              type: object
              properties:
                id:
                  type: string
                  example: run_123
                monitor_id:
                  type: string
                  example: mon_123
                status:
                  type: string
                  enum:
                    - completed
                run_type:
                  type: string
                  enum:
                    - baseline
                    - scheduled
                  description: The first run after monitor creation is a baseline run.
                target_type:
                  $ref: '#/components/schemas/MonitorsTargetType'
                change_detection_type:
                  $ref: '#/components/schemas/MonitorsChangeDetectionType'
                started_at:
                  type: string
                  format: date-time
                completed_at:
                  type: string
                  format: date-time
                change_detected:
                  type: boolean
                  example: false
                change_id:
                  type:
                    - string
                    - 'null'
                  example: null
                baseline_created:
                  type: boolean
                  description: >-
                    True when this run established the monitor's initial
                    baseline; baseline runs perform no change detection.
              required:
                - id
                - monitor_id
                - status
                - run_type
                - target_type
                - change_detection_type
                - started_at
                - completed_at
                - change_detected
                - change_id
                - baseline_created
              additionalProperties: false
              title: Completed run snapshot
              description: >-
                Snapshot of the run at delivery time. Billing detail
                (credits_charged) is settled after delivery, so fetch the run
                via GET /monitors/{monitor_id}/runs for the full record.
            change:
              anyOf:
                - $ref: '#/components/schemas/MonitorsChange'
                - type: 'null'
              description: >-
                The detected change — the same full change record delivered by
                change.detected — or null when the run found no change.
          required:
            - run
            - change
          additionalProperties: false
      required:
        - event
        - id
        - created_at
        - data
      additionalProperties: false
      title: Monitor run completed webhook payload
      description: >-
        Payload sent after every completed run when the monitor's webhook
        subscribes to run.completed. A run with `change_detected: false` is a
        confirmation that the monitor ran and found no change.
    MonitorsRunNowResponse:
      type: object
      properties:
        monitor_id:
          type: string
          example: mon_123
        run_id:
          type: string
          example: run_123
          description: >-
            The queued run. Poll GET /monitors/{monitor_id}/runs or use it to
            correlate results.
        queued:
          type: boolean
          example: true
      required:
        - monitor_id
        - run_id
        - queued
      additionalProperties: false
    MonitorsCreditUsage:
      type: object
      properties:
        monitor_id:
          type: string
          example: mon_123
        name:
          type: string
          description: Monitor name (falls back to the id when the monitor was deleted).
        credits:
          type: integer
          description: Credits charged to this monitor over the window.
        runs:
          type: integer
          description: Number of billed runs over the window.
      required:
        - monitor_id
        - name
        - credits
        - runs
      additionalProperties: false
[...]
